# Node.js packages to be installed dynamically
# Add packages one per line in the format: package_name@version or package_name
# Examples:
# lodash@4.17.21
# axios@1.6.0
# moment@2.29.4
# @types/node@18.0.0
lodash
